*/html/*
/html/*
*.css
/src/*.txt
/src/*.oct
*.fig
*.mat
*.dat
*.vtk
/examples/strings.txt
Manifest.toml
docs/build/
docs/site/
docs/src/examples/
docs/src/assets/generated/
test/aux.txt

# editors and OSs
/CAPE/*/*.DS_Store
*.vscode
*.asv
octave-workspace

# LaTeX outputs
*/Example_1/output/*
*/*.aux
*/*/*.aux
*/*.log
*/*.out
*/*.gz
*/*.toc
*/*.spl
*/*.xwm
*/*.bcf
*/*.lof
*/*.lot
tesis/tesis.pdf
*/*.run.xml
*/*.bbl
*/*.blg
/CAPE/*/*/*.wnd
